<h1>Earthquakes</h1>
<div id="earthquakes"></div>
<h1>Fires</h1>
<div id="fires"></div>
<h1>River Gauges</h1>
<div id="rivers"></div>
<h1>Weather Hazards</h1>
<div id="hazards"></div>
<h1>Tsunami</h1>
<div id="tsunami"></div>
