<div class="signup-page__container">


  <div class="signup-page__terms-title">
    About Alerts
  </div>

  <div class="signup-page__term-details">
    <p>
      There are 4 different levels of alerts including non-emergency, advisory, voluntary evacuation, and mandatory evacuations.
    </p>

    <p>
      Notifications can be about weather, fire, floods, tsunamis, and brushfires.
    </p>

    <p>
      In the body of the SMS message, it will be clear what the notification is about (fire, flood) and how urgent it is (non-emergency or evacuation). There will always be a link to get more details. <b>It is important to click this link for every alert message you receive, including non-emergencies</b>. The California alert team uses your response to determine their next steps. If people aren't getting the notifications they may have to send out emergency teams to check on people and spread the word - especially in the case of evacuations.
    </p>

    <a href="/">
      <button id="signup-page__next-button" class="signup-page__next-button usa-button-primary">
        OK
      </button>
    </a>

  </div>

</div>
















