<main class="user">

  <div class="user__title">
    Send us an email to get help or info
  </div>

  <div class="user__detail">
    We want to help you in anyway we can. Your questions or comments will be emailed to us, and you will receive a reply
    as soon as we are able.
  </div>

  <div class="user__box-area">
    <div class="user__label">
      <%= label_tag :subject, "Subject", class: "user__label-title" %>
      <div class="user__label-required">Required</div>
    </div>
    <%= text_field_tag :subject, "", autofocus: true, class: "user__input" %>
  </div>

  <div class="user__box-area">
    <div class="user__label">
      <%= label_tag :question, "Questions/Comments", class: "user__label-title" %>
      <div class="user__label-required">Required</div>
    </div>
    <%= text_area_tag :question, "", autofocus: true, class: "user__input" %>
  </div>

  <a href="/">
    <button id="signup-page__next-button" class="signup-page__next-button usa-button-primary">
      Send
    </button>
  </a>

</main>