<div class="welcome">

  <div class="welcome__main-image">
  </div>

  <div class="welcome__container">
    <div class="welcome__welcome-title">
    </div>

    <div class="welcome__message">
      <div class="welcome__message-image">We heart you</div>
      <div class="welcome__message-safe">We want you to stay safe!</div>
      <div class="welcome__message-alert">Sign up for emergency alerts!</div>
      <div class="welcome__message-context">Our new system can now send location based alerts. This means if you get an alert, the system has intelligently determined that you NEED the details to stay safe, because you are within the affected area. This also means you won't receive alerts that don't affect you.</div>
    </div>

    <div class="welcome__register-button">
      <button class="welcome__button">Sign Up</button>
    </div>

    <div class="welcome__login-button">
      <button class="welcome__button">Login</button>
    </div>
  </div>
</div>
