<main  class="user">
  <h1 class="user__title">
    Be Prepared
  </h1>

  <div class="user__detail">This information will help you be prepared in case of an emergency.</div>

  <ul>
    <li>Here’s a link to California Storms <a href="storms.ca.gov/">website</a> to gain more information and resources.
    </li>
    <li>Here’s a link to the: <a href="https://www.ready.gov/kit">Basic Disaster Supplies Kit</a>.</li>
    <li>Here’s a link to
      <a href="www.conservation.ca.gov/cgs/information/Pages/EdResCenter.aspx">educational resources</a> on California’s
      Department of Conservation.
    </li>
    <li>Here’s a link to <a href="https://www2.usgs.gov/faq/?q=taxonomy/term/9762">USGS Data and Resources</a>.</li>
  </ul>
</main>