<div class="signup-page__container">


  <div class="signup-page__terms-title">
    Sample Terms and Conditions
  </div>

  <div class="signup-page__term-details">
      <p>
        IBM plans to protect your privacy and adhere to CalOPPA. This app, however, is a prototype and will not be used for
        commercial use.
      </p>

      <p>
        IBM uses information we collect to operate, maintain and provide you the features and functionality of Service, to
        analyze how the Service is used, diagnose service or technical problems, maintain security, personalize context,
        send you alerts via mobile and web, and track users as necessary to comply with the Digital Millennium Copyright Act
        and other applicable laws.
      </p>

      <p>IBM adheres to CalOPPA by being transparent:</p>

      <ul>
        <li>
          You provide us information, such as: your name, email, phone number, and your location and address. If you
          register for an account with California Connects Alert System, all information you choose to provide on the
          Service will be the viewable and discoverable by other admin users and open source technology parties, in
          accordance with your subscription to the California Connects Alert System.
        </li>

        <li>
          If you would like to cancel your subscription to the service, you can cancel your profile in the ‘Manage Profile’
          tab.
        </li>

        <li>
          Our privacy policy is effective March 1st, 2017. If our policy changes, we will give you 90 days’ notice of
          change, if you plan to continue to subscribe
        </li>

        <li>
          Only for this prototype, IBM will not track its subscribers over time and across third party websites to provide
          targeted advertising and therefore does not respond to Do Not Track (DNT) signals. However, some third party sites
          do keep track of your browsing activities when they serve you content, which enables them to tailor what they
          present to you. If you are visiting such sites, Safari allows you to set the DNT signal on your browser so that
          third parties (particularly advertisers) know you do not want to be tracked.
        </li>

        <li>
          Due to the nature of this prototype, we will not share your information beyond open source technology partners,
          who are integrated into our service and must also adhere to the CalOPPA. The open source technologies used are
          monitored for security on a regular basis.
        </li>
      </ul>

      <p>Preparedness:</p>

      <ul>
        <li>Here’s a link to California Storms <a href="storms.ca.gov/">website</a> to gain more information and resources.</li>
        <li>Here’s a link to the: <a href="https://www.ready.gov/kit">Basic Disaster Supplies Kit</a>.</li>
        <li>Here’s a link to <a href="www.conservation.ca.gov/cgs/information/Pages/EdResCenter.aspx">educational resources</a> on California’s Department of Conservation.</li>
        <li>Here’s a link to <a href="https://www2.usgs.gov/faq/?q=taxonomy/term/9762">USGS Data and Resources</a>.</li>
      </ul>


  </div>

</div>
















