<h1>Create Alert for campaign  <%= @campaign.name.capitalize + ", " + @campaign.formatted_date %></h1>

<%= form_for [:admin, @campaign, @alert] do |f| %>
    <%= render partial: 'admin/shared/alert_form', :locals => {:form => f} %>

    <%= f.submit "Send Notification" %>
<% end %>