<h1>Create Alert for campaign  <%= @campaign.category.capitalize + ", " + @campaign.formatted_date %></h1>

<%= form_for [:admin, @campaign, @alert] do |f| %>
    <%= f.text_field :description %>
    <%= f.submit "create alert" %>
<% end %>