@import "jquery-ui/accordion";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
@import "neat";
@import "../uswds-0.14.0/stylesheets/uswds";
@import "variables";
@import "navbar";
@import "welcome";
@import "signup";
@import "admin";
@import "sidebar";
@import "active-campaigns";
@import "archive-campaigns";
@import "new-campaign";
@import "show-campaign";
@import "alert-form";
@import "add-alert";
@import "maps";
@import "login";
@import "user";

 //* {
 // border: 2px solid red;
 //}

html, body {
  height: 100%;
}

body {
  // background: linear-gradient(to bottom, #ffffff, #dce4ee);
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}

[type=radio] {
  margin-left: 0rem;
  opacity: 1;
  position: relative;
}

.signup-address-table {
  display: none;
}

.swagger-section #header {
  height: 100% !important;
}
