// sprocket requires have been removed, include additional css files using sass's @import below this line
@import "neat";
@import '../uswds-0.14.0/stylesheets/uswds';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');

$mobile: new-breakpoint(max-width 480px);
$desktop: new-breakpoint(max-width 850px);

// $small-screen:  481px !default;
// $medium-screen: 600px !default;
// $large-screen:  1201px !default;

#earthquakes, #fires, #rivers, #hazards, #tsunami {
  height: 400px;
  width: 600px;
}

// * {
//   border: 1px solid red;
// }

html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #ffffff, #dce4ee);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  height: 65px;
  border-bottom: 15px solid #fdb81e;

  a {
    align-items: center;
    display: flex;
    height: 100%;
    text-decoration: none;
  }

  .navbar__logo {
    @include span-columns(.7);
    background: image_url('ca-logo@2x.png') no-repeat center;
    background-size: contain;
    max-width: 100%;
    height: 100%;
  }

  .navbar__title {
    @include span-columns(11.3);
    font-family: $font-serif;
    color: $color-primary;
  }

  @include media($mobile){
    .navbar__logo, .navbar__title {
      @include span-columns(12);
    }
  }

}

#signup-page__next-button {
  background: turquoise;
  width: 40px;
}

#signup-page__back-button {
  background: turquoise;
  width: 40px;
}

.signup-page {
  display: none;
}

#signup-page-1 {
  display: block;
}

.welcome {
}

.welcome__main-image {
  height: 272px;
  background: image_url('welcome_image.png') no-repeat center;
  background-size: cover;
  max-width: 100%;
}

.welcome__container {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
}

.welcome__welcome-title {
}

.welcome__message {
  font-family: $font-sans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

.welcome__message-image {
  height: 100px;
  margin-top: 10px;
  background: image_url('we_heart.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
}

.welcome__message-safe {
  color: $color-primary;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding-top: 30px;
  font-family: $font-serif;
}

.welcome__message-alert {
  font-weight: bold;
  padding-top: 3px;
}
.welcome__message-context {
  padding-bottom: 40px;
}

.welcome__button {
  border-radius: 3px;
  background-color: #0872b9;
  height: 25px;
  width: 91px;
  color: #fffffe;
  margin-top: 10px;
  border: none;
  font-weight: bold
}

.welcome__register-button {
  display: flex;
  justify-content: center;
}

.welcome__login-button {
  display: flex;
  justify-content: center;
}
