.archived-campaigns {
  @include span-columns(10);
  padding: 5%;
}

.archived-campaigns__title {
  color: $color-primary;
  font-weight: bold;
  font-size: 1.2em;
}

.archived-campaigns__table {
}

.archived-campaigns__table-header {
  background: none;
  border: none;
  border-bottom: 2px solid $color-gray-light;
  font-size: .8em;
  color: $color-black;
}

.archived-campaigns__table-item {
  background: none;
  border: none;
  border-bottom: 2px solid $color-gray-light;
  font-size: .8em;
}

.archived-campaigns__table-item-color {
  background: gray;
  width: 20px;
  border: none;
  border-bottom: 2px solid $color-gray-light;
}
