.login{
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.login__title {
  font-size: 2em;
  font-family: $font-sans;
  padding: 0;
  margin-top: 20px;
}

.login__form {
}

.login__form-group {}

.login__form-label {
  font-size: 1.2em;
  font-family: $font-sans;
}

.login__form-input {}
