.data-maps {
  padding: 5%;
}

.data-maps__title {
  color: $color-primary;
  font-weight: bold;
  font-size: 1.2em;
}

.data-maps__images {
  display: flex;
  justify-content: space-between;
  height: 350px;
  margin-top: 20px
}

.data-maps__images-map {
  height: 100%;
  width: 48%;
  background: $color-gray-light;
}

.data-maps__image-title{
  height: 10%;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.2em;
  font-weight: 600;
  font-family: $font-sans;
}
.data-maps__image {
  height: 90%;
}

.data-maps__table-data {
  font-size: .8em;
  background: none;
}
