.signup-page {
  display: none;
}

#signup-page-1 {
  display: block;
}

@media screen and (min-width: 320px) and (max-width: $small-max){
  .signup-page__container {
      @include outer-container(80%);
  }
}

@media screen and (min-width: $medium-min) and (max-width: $medium-max){
  .signup-page__container {
      @include outer-container(50%);
  }
}

@media screen and (min-width: $large-min){
  .signup-page__container {
      @include outer-container(20%);
  }
}

.signup-page__title {
  color: $color-primary;
  font-family: $font-serif;
  font-size: 2.5em;
  font-weight: 500;
  height: 200px;
  display: flex;
  align-items: center;
}

.signup-page__details {
  font-family: $font-sans;
  font-size: .9em;
  color: $color-gray-light;
  margin-top: 10px;
  margin-bottom: 20px;
}

.signup-page__label {
  display: flex;
  justify-content: space-between;
}

.signup-page__label-title {
  margin-top: 0;
  font-family: $font-sans;
  font-size: .8em;
}

.signup-page__box-area {
  margin-bottom: 30px;
}

.signup-page__box-buttons {
  display: flex;
  justify-content: space-between;
}

.signup-page__label-required {
  font-family: $font-sans;
  font-size: .8em;
  font-style: italic;
}

.signup-page__input {
  width: 100%;
  max-width: 100%;
}

.signup-page__back-button {
  margin: 0;
}

.signup-page__next-button {
  margin: 0;
}

#signup-page__submit-button  {
  margin: 0;
}

.signup-page__terms {
  font-size: .8em;
  font-family: $font-sans;
  a {
    text-decoration: none;
  }
}

.signup-page__container {
  height: 100%;
}
.signup-page__progress-bar {
  height: 100px;
}

.signup-page__icon-1 {
  @include span-columns(1.71);
  background: image_url('icon1a.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-1-active {
  @include span-columns(1.71);
  background: image_url('icon1b.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-2 {
  @include span-columns(1.71);
  background: image_url('icon2a.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-2-active {
  @include span-columns(1.71);
  background: image_url('icon2b.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-3 {
  @include span-columns(1.71);
  background: image_url('icon3a.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-3-active {
  @include span-columns(1.71);
  background: image_url('icon3b.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-4 {
  @include span-columns(1.71);
  background: image_url('icon4a.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-4-active {
  @include span-columns(1.71);
  background: image_url('icon4b.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-5 {
  @include span-columns(1.71);
  background: image_url('icon5a.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-5-active {
  @include span-columns(1.71);
  background: image_url('icon5b.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-6 {
  @include span-columns(1.71);
  background: image_url('icon6a.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-6-active {
  @include span-columns(1.71);
  background: image_url('icon6b.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-7 {
  @include span-columns(1.71);
  background: image_url('icon7a.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

.signup-page__icon-7-active {
  @include span-columns(1.71);
  background: image_url('icon7b.svg') no-repeat center;
  background-size: contain;
  max-width: 100%;
  height: 100%;
}

//================================================ OVERRIDES

// Client-side Errors
label.message {
  margin-top: 0;
  font-size: .8em;
  font-style: italic;
  border-left: 2px solid red;
  color: red;
  padding-left: 5px;
  margin-bottom: 10px;
}
