Earthquake

<div id="earthquakes"></div>
<div id="earthquake-data"></div>
<table id="earthquake-data--table">
  <tr>
    <th>Description</th>
    <th>Timestamp</th>
    <th>Link</th>
  </tr>
</table>

<div id="earthquake-url" style="display: none"><%= disaster_events_earthquakes_url %></div>