Fire

<div id="fire-data"></div>
<table id="fire-data--table">
  <tr>
    <th>Description</th>
    <th>Timestamp</th>
    <th>Link</th>
  </tr>
</table>

<div id="fire-url" style="display: none"><%= disaster_events_fires_url %></div>