<div class="admin__container">

  <%= render partial: 'admin/shared/admin_sidebar' %>

  <main class="admin__data-maps">

    <section class="data-maps">
      <div class="data-maps__title">Fire</div>

      <div>
        <button>Create New Campaign</button>
        <button>Add to Existing Campaign</button>
      </div>

      <div class="data-maps__images">
        <div class="data-maps__images-map">
          <div class="data-maps__image-title">Current</div>
          <div class="data-maps__image" id="fires"></div>
        </div>

        <div class="data-maps__images-map">
          <div class="data-maps__image-title">Historical</div>
          <div class="data-maps__image"></div>
        </div>

      </div>

      <div id="fire-data"></div>
      <table id="fire-data--table" class="usa-table-borderless">
        <tr class="data-maps__table-data">
          <th scope="col">Description</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Link</th>
        </tr>
      </table>

      <div id="fire-url" style="display: none"><%= disaster_events_fires_url %></div>

    </section>
  </main>
</div>
