River Gauge

<div id="rivers-data"></div>
<table id="rivers-data--table">
  <tr>
    <th>Description</th>
    <th>Timestamp</th>
    <th>Link</th>
  </tr>
</table>

<div id="rivers-url" style="display: none"><%= disaster_events_rivers_url %></div>