Tsunami

<div id="tsunami-data"></div>
<table id="tsunami-data--table">
  <tr>
    <th>Description</th>
    <th>Timestamp</th>
    <th>Link</th>
  </tr>
</table>

<div id="tsunami-url" style="display: none"><%= disaster_events_tsunami_url %></div>