<div class="admin__container">

  <%= render partial: 'admin/shared/admin_sidebar' %>

  <main class="admin__data-maps">

    <section class="data-maps">
      <div class="data-maps__title">Weather Hazards</div>

      <div class="data-maps__images">
        <div class="data-maps__images-map">
          <div class="data-maps__image-title">Current</div>
          <div class="data-maps__image" id="hazards"></div>
        </div>

      </div>

      <div id="weather-data"></div>
      <table id="weather-data--table" class="usa-table-borderless">
        <tr class="data-maps__table-data">
          <th scope="col">Description</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Link</th>
        </tr>
      </table>

      <div id="weather-url" style="display: none"><%= disaster_events_weather_url %></div>

    </section>
  </main>
</div>
