Weather Hazards

<div id="hazards"></div>
<div id="weather-data"></div>
<table id="weather-data--table">
  <tr>
    <th>Description</th>
    <th>Timestamp</th>
    <th>Link</th>
  </tr>
</table>

<div id="weather-url" style="display: none"><%= disaster_events_weather_url %></div>