<div class="signup-page__container">

  <div class="signup-page__title">
    Great! Check your phone for your confirmation.
  </div>

  <div class="signup-page__details">
    <p>Your account has been created. Now we just need you to confirm your phone number by visiting the link in the message we just sent you.</p>
  </div>

</div>